.darkModeOff {
  overflow-y: hidden;
  text-align: center;
  background: whitesmoke;
  height: 100vh;
  transition: 2s;
}

.darkModeOn {
  overflow-y: hidden;
  text-align: center;
  background: #002244;
  height: 100vh;
  transition: 2s;
}